*{
    margin: 0px;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}
header{
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252,252, 252, 0.5);
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
header .list-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(52, 49, 49);
    padding: 12px;
}
header .alwaysdeco img{
    margin-left: 0%;
    margin-top: 0%;
    width: 250px;
    padding: 12px 24px;
}
#hero{
    height: 70%;
    background-image: url('../imagenes/inicioindex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
}
#hero h1{
    font-size: 72;
    font-weight: 600;
    margin-bottom: 12px;
    color: rgb(52, 49, 49);
}
#hero p{
    color: rgb(52, 49, 49);
    font-size: 24px;
    margin-bottom: 48px;
}
#hero a{
    background-color: rgba(52, 49, 49, 0.8);
    padding: 12px 24px;
    border-radius: 8px;
    color: rgb(225, 222, 89);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}

.despegable{
    position: relative;
}
.despegable:hover .contenedor-despegable{
    display: flex;
}
.contenedor-despegable {
    display: none;
    position: absolute;
    top: 25;
    left: 0;
    background-color: rgba(252, 253, 245, 0.5);
    padding: 12px;
    flex-direction: column;

}
.contenedor-despegable li{
    border-right: unset;
    padding: 12px 0px;
    flex-direction: column;

}
.contenedor-despegable li .habitacion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.contenedor-despegable li .manteleria {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#masVendidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    padding: 20px 20px;
    left: 0;
}
#masVendidos h2{
    color: rgb(52, 49, 49);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
#masVendidos .listaMasVendidos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.producto img{
    display: flex;
    width: 450px;
    height: 600px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;
}
.producto h3{
    display: flex;
    color: rgb(52, 49, 49);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: space-evenly;
}
#masVendidos button{
    display: flex;
    background-color: rgba(253, 230, 128, 0.6);
    padding: 5px 28px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    color: rgb(52, 49, 49);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 180px;
    margin-top: -30;
    position: relative;
    
}
#mapaInicio{
    display: flex;
    flex-direction: row;
}
#mapaInicio .domicilio,
#mapaInicio .mapa{
    width: 50%;
    height: 300px;
    margin-top: 30%;
}
#mapaInicio .mapa iframe{
    height: 70%;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
#mapaInicio .domicilio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 40%;
}
.domicilio h2, h3{
    font-weight: 400;

}
.galeria{
    height: 70%;
    width: 70%;
    object-fit: cover;
}
footer{
    background-color: rgb(255, 226, 95);
    padding-top: 30px;
}
.contenedor{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
h4{
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}
.enlaces-pie{
    width: 190px;
    height: 190px;
    margin: auto;
    padding: 7px;
}
.enlaces-pie ul{
    text-align: center;
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.enlaces-pie p{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(52, 49, 49);
}
footer h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobreNosotros{
    font-size: 18px;
    color: rgb(52, 49, 49);
    margin: 10% 15%;
}
#NuestroEquipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.titulo{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: rgb(52, 49, 49);
    background-color: rgba(255, 226, 95, 0.6);
    width: fit-content;
    padding: 7px;
    margin-left: 41%;
    margin-top: -5%;

}
#NuestroEquipo .equipo{
    display: flex;
    flex: 25%;
    padding: 50px;
    width: 350px;
    height: 500px;
    justify-content: space-around;
}
.equipo div img{
    display: flex;
    width: 450px;
    height: 600px;
    justify-content: space-around;
    padding: 10px;
}
#contacto{
    display: flex;
    flex-direction: row;
    height: 450px;
    margin-top: 200px;
    margin-left: 20%;
}
#contacto .formulario, 
#contacto .contactanos{
    width: 50%;
}
#contacto .formulario{
    height: 90%;
    width: 90%;
}
#contacto .contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactanos h2{
    font-size: 20px;
    font-weight: 600;
    color: rgb(52, 49, 49);
    padding: 20px;
    background-color: rgba(255, 226, 95, 0.6);
    width: fit-content;
    padding: 7px;
}
.contactanos h4{
    font-size: 18px;
    font-weight: 400;
    color: rgb(52, 49, 49);
    padding: 0;
    margin-top: 7px;
}
.formulario h3{
    font-size: 18px;
    font-weight: 400;
    color: rgb(52, 49, 49);
    padding: 20px;
    margin-top: -10px;
}
.formulario form{
    height: 50%;
    width: 90%;
}
.formulario input{
    display: flex;
    background-color: rgba(255, 226, 95, 0.8);
    padding: 10px 18px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    color: rgb(52, 49, 49);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
    position: relative; 
    margin-top: 25px;
}
.formulario form textarea{
    display: flex;
    position: relative;
    background-color: rgba(247, 247, 239, 0.8);
    padding: 10px 18px;
    border-radius: 8px;
    color: rgb(52, 49, 49);
    font-size: 16px;
    
}
#miCuenta{
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 180px;
    margin-left: 20%;
}
#miCuenta h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(52, 49, 49);
    padding: 20px;
    background-color: rgba(255, 226, 95, 0.8);
    width: fit-content;
    padding: 5px;
    margin-bottom: 20px;
}
#miCuenta div .fomularioCuenta{
    display: flex;
    flex-direction: row;
}
.formulario label,
.formulario input{
    display: flex;
    flex-direction: row;
}
#miCuenta div input{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 5px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    background-color: rgba(247, 247, 239, 0.8);
}
#miCuenta div label{
    display: flex;
    position: relative; 
    margin-bottom: 0px;
    margin-top: 20px;
}
#miCuenta div a{
    display: flex;
    position: relative;
    font-size: 12px;
    margin-left: 75px;
}
#miCuenta div .ingresar{
    display: flex;
    position: relative;
    margin-top: 30px;
    width: min-content;
    background-color: rgba(255, 226, 95, 0.8);
    padding: 10px 18px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    color: rgb(52, 49, 49);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
#miCuenta h4{
    display: flex;
    position: relative;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 60px;
}
#nuevaContraseña{
    display: flex;
    flex-direction: column;
    height: 350px;
    margin-top: 180px;
    margin-left: 20%;
}
#nuevaContraseña form input{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 5px;
    border-radius: 8px;
    color: rgb(52, 49, 49);
    background-color: rgba(247, 247, 239, 0.8);
}
#nuevaContraseña form label{
    display: flex;
    position: relative; 
    margin-bottom: 0px;
    margin-top: 20px;
}
#nuevaContraseña input{
    display: flex;
    position: relative;
    margin-top: 30px;
    width: min-content;
    background-color: rgba(255, 226, 95, 0.8);
    padding: 10px 18px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    color: rgb(52, 49, 49);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

#crearCuenta {
    display: grid;
    gap: 20px;
    margin: 100px 20% 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto; 
}

#crearCuenta h3 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(52, 49, 49);
    padding: 20px;
    background-color: rgba(255, 226, 95, 0.6);
    border-radius: 4px;
    width: fit-content;
    padding: 5px;
    margin-bottom: 20px;
}

#crearCuenta form {
    display: grid;
    gap: 10px;
    font-size: 14px;
}

#crearCuenta label {
    color: rgb(52, 49, 49);
    font-weight: 500;
    margin-bottom: -10;
}

#crearCuenta input {
    background-color: rgba(247, 247, 239, 0.8);
    padding: 10px 18px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    border-style: solid;
    color: rgb(52, 49, 49);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    width: min-content;
}

#crearCuenta div {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

#crearCuenta .botones {
    background-color: rgba(255, 226, 95, 0.8);
    padding: 8px 16px;
    border-radius: 4px;
    border-color:rgba(255, 226, 95, 0.2);
    color: rgb(52, 49, 49);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    grid-row: 1;
}

#crearCuenta a {
    color: rgb(52, 49, 49);
    font-weight: 600;
    text-decoration: none;
    grid-row: 2;
    margin-top: -10;
    margin-bottom: 25;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.productos {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid  rgb(225, 222, 89);
    text-align: center;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
button {
    background-color: rgba(52, 49, 49, 0.8);
    color: white;
    padding: 10px;
    border-radius:  8px;
    cursor: pointer;
}
  
button:hover {
    background-color:rgba(52, 52, 49, 0.8);
}

.produ h2{
    margin-left: 10%;
    margin-top: 100px;
    border: 1px solid  rgb(225, 222, 89);
    width: fit-content;
    font-size: 20px;
    padding: 3px;
}
.volver a{
    margin-left: 85%;
    border: 1px solid  rgb(225, 222, 89);
    width: fit-content;
    font-size: 16px;
    padding: 3px;
}

#comprar{
    width: 100%;
    height: 80%;
    margin-top: 100px;
}

.carrito h2{
    margin-left: 15%;
    margin-bottom: 30px;
    color: rgb(52, 49, 49);
    padding: 5px;
    background-color: rgba(255, 226, 95, 0.8);
    font-size: 18px;
    font-weight: 600;
    width: fit-content;
}
.compraFinal h3{
    margin-left: 15%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:480px){
    
}