#miCuenta{
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 180px;
    margin-left: 20%;
    h3{
        font-size: 20px;
        font-weight: 600;
        color: rgb(52, 49, 49);
        padding: 20px;
        background-color: rgba(255, 226, 95, 0.8);
        width: fit-content;
        padding: 5px;
        margin-bottom: 20px;
    }
    div {
        .fomularioCuenta{
        display: flex;
        flex-direction: row;
            label{
                display: flex;
                flex-direction: row;
                position: relative; 
                margin-bottom: 0px;
                margin-top: 20px;
            }
            input{
                display: flex;
                flex-direction: row;
                font-size: 16px;
                font-weight: 500;
                padding: 8px 16px;
                margin-top: 5px;
                border-radius: 4px;
                border-color:rgba(255, 226, 95, 0.2);
                background-color: rgba(247, 247, 239, 0.8);
            }
        }
        a{
            display: flex;
            position: relative;
            font-size: 12px;
            margin-left: 75px;
        }
        h4{
            display: flex;
            position: relative;
            font-size: 14px;
            margin-left: 0px;
            margin-top: 60px;
        }
        .ingresar{
            display: flex;
            position: relative;
            margin-top: 30px;
            width: min-content;
            background-color: rgba(255, 226, 95, 0.8);
            padding: 10px 18px;
            border-radius: 4px;
            border-color:rgba(255, 226, 95, 0.2);
            color: rgb(52, 49, 49);
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
        }

    }
}