#sobreNosotros{
    font-size: 18px;
    color: rgb(52, 49, 49);
    margin: 10% 15%;
    @media (max-width: 480px){
        font-size: 16px;
        margin: 10%;
        padding: 50px 10px;
    }
}
#NuestroEquipo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: 480px){
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10;
    }
    .equipo{
        display: flex;
        flex: 25%;
        padding: 50px;
        justify-content: space-around;
        @media (max-width: 480px){
            padding: 10px;
        }
        img{
            display: flex;
            width: 350px;
            justify-content: space-around;
            padding: 10px;
            @media (max-width: 480px){
                width: 300px;
                padding: 0;
                align-items: center;
            } 
        }
        
    }

}
.titulo{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: rgb(52, 49, 49);
    background-color: rgba(255, 226, 95, 0.6);
    width: fit-content;
    padding: 7px;
    margin-left: 41%;
    margin-top: -5%;
    @media (max-width: 480px){
        width: fit-content;
        margin-left: 50px;
        margin-top: -50px;
    }
}